{deps, [
  %% logging framework
  %%lager,
  jiffy,
  ranch,
  cowboy,
  %% random number generator
  rand_compat
]}.

{plugins, [rebar3_run]}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  nowarn_export_all,
  %%{parse_transform, lager_transform},
  {i, "include"}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "logs/"}]}}]}.

{dialyzer, [{warnings, [
  %unmatched_returns,
  %unknown
  %overspecs,
  no_undefined_callbacks
]}]}.

{edoc_opts, [
  {preprocess, true},
  {todo, true},
  {includes, ["include/"]},
  {dir, "edoc"}
]}.

%%{lager, [
%%  {log_root, "/Users/vbalegas/workspace"},
%%  {crash_log, "crash.log"},
%%  {colored, true},
%%  {handlers, [
%%    {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter},
%%      {formatter_config, [time, " ", module, " : ", line, color, " [", severity, "] ", message, "\e[0m\r\n"]}]},
%%    {lager_file_backend, [{file, "error.log"}, {level, error}]},
%%    {lager_file_backend, [{file, "console.log"}, {level, info}]}
%%  ]}
%%]}.

% configuration of style rules
{elvis,
  [#{dirs => ["src", "test"],
    filter => "*.erl",
    rules => [
      {elvis_style, no_tabs},
      {elvis_style, no_trailing_whitespace},
      {elvis_style, macro_names, #{ignore => []}},
      {elvis_style, operator_spaces, #{rules => [{right, ","},
        {right, "--"},
        {left, "--"},
        {right, "++"},
        {left, "++"}]}},
      {elvis_style, god_modules,
        #{limit => 25,
          ignore => []}},
      {elvis_style, used_ignored_variable},
      {elvis_style, no_behavior_info},
      {
        elvis_style,
        module_naming_convention,
        #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
          ignore => []}
      },
      {
        elvis_style,
        function_naming_convention,
        #{regex => "^([a-z][a-z0-9]*_?)*$"}
      },
      {elvis_style, state_record_and_type},
      {elvis_style, no_spec_with_records}
    ]
  },
    #{dirs => ["."],
      filter => "Makefile",
      rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
      {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
    },
    #{dirs => ["."],
      filter => "rebar.config",
      rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}}]
    }
  ]
}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
%{coveralls_coverdata, "logs/*/all.coverdata"}.
{coveralls_service_name, "travis-ci"}.

{relx, [{release, {antidote_notifications, "0.1.0"},
  [
    antidote_notifications,
    %%lager,
    jiffy,
    sasl
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {overlay_vars, "config/vars.config"},
  {extended_start_script, true}]
}.



{profiles,[
  {prod, [{relx, [{dev_mode, false},
    {include_erts, true}]}]
  },
  {lint, [
    {plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}
  ]},
  {test, [
    {erl_opts, [warnings_as_errors, debug_info, no_inline_list_funcs]},
    {plugins, [{coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}]}]}
]}.

